{% extends 'base_layout.html' %}
{% load static %}

{% block title %}
About our banking
{% endblock %}

{% block bodycontent%}
	<main>
		<!-- section content begin -->
		<div class="uk-section">
			<div class="uk-container">
				<div class="uk-grid">
					<div class="uk-width-1-1 uk-flex uk-flex-center">
						<div class="uk-width-3-4@m uk-text-center">
							<h1 class="uk-margin-small-bottom">Putting our clients first since 1998</h1>
							<p class="uk-text-lead uk-text-muted uk-margin-remove-top">For nearly 30 years, we’ve been empowering clients by helping them take control of their financial lives.</p>
						</div>
					</div>
					<div class="uk-grid uk-grid-large uk-child-width-1-3@m uk-margin-medium-top" data-uk-grid>
						<div class="uk-flex uk-flex-left">
							<div class="uk-margin-right">
								<div class="in-icon-wrap circle primary-color">
									<i class="fas fa-leaf fa-lg"></i>
								</div>
							</div>
							<div>
								<h3>Philosophy</h3>
								<p class="uk-margin-remove-bottom">FCs look for a competitive advantage in the market. They want their portfolio companies to be able to generate sales and profits before competitors enter the market and reduce profitability. The fewer direct competitors operating in the space, the better.</p>
							</div>
						</div>
						<div class="uk-flex uk-flex-left">
							<div class="uk-margin-right">
								<div class="in-icon-wrap circle primary-color">
									<i class="fas fa-hourglass-end fa-lg"></i>
								</div>
							</div>
							<div>
								<h3>History</h3>
								<p class="uk-margin-remove-bottom">Venture Capital started as an entrepreneurial venture. The founding editors, Colin 
									Mason and Richard Harrison, noted that the initial idea to launch a journal was 
									serendipitous (Harrison and Mason 2019). The increasing economic significance venture capital as an alternative investment in the 1990s led Colin and Richard to create 
									a new journal to publish papers on entrepreneurial finance to stimulate and provide 
									an outlet for publishing research on venture capital and private equity, corporate 
									venturing, business angel investing and public sector venture capital. They rightly 
									recognized the need for a journal that would raise the profile of entrepreneurial 
									finance, stimulate research into entrepreneurial finance and provide a focus for the 
									publication of papers from a diverse range of perspectives, thereby overcoming the 
									disciplinary, theoretical and methodological fragmentation of the field at that time 
									(Mason and Harrison 1999)</p>
									<a href="https://www.tandfonline.com/doi/pdf/10.1080/13691066.2021.1886660">Read more</a>	
							</div>
						</div>
						<div class="uk-flex uk-flex-left">
							<div class="uk-margin-right">
								<div class="in-icon-wrap circle primary-color">
									<i class="fas fa-flag fa-lg"></i>
								</div>
							</div>
							<div>
								<h3>Culture</h3>
								<p class="uk-margin-remove-bottom">In 2020, venture capital (VC) firms and investors were hit by some of the most substantial and unprecedented changes they’ve had to contend with yet: widespread market uncertainty, fewer funding rounds and less face-to-face interaction with clients. The sum of all these conditions could have made quality investment difficult or even impracticable, yet digital technology and culture change have proven, once again, that the restrictions of yesteryear need not interrupt modern business.

									Still, the challenge has been omnipresent and a generally conservative attitude to unique business ventures took hold. McKinsey & Co recorded a significant drop in overall executive commitment towards innovation at the height of the crisis (23 percentage points (pp), down 32pp from its pre-crisis level of 55pp), a reduction that it doesn’t expect to fully recover until after pandemic conditions have fully dissipated. Furthermore, when the article was originally published in June 2020, 90% of surveyed executives predicted that COVID-19 would change business norms significantly for the next five years. Although it’s still too early to tell the long-term effects, the short-term implications of this prediction couldn’t ring more true. </p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section content end -->
		<!-- section content begin -->
		<div class="uk-section in-offset-top-20 in-offset-bottom-20">
			<div class="uk-container">
				<div class="uk-grid">
					<div class="uk-width-1-1">
						<div class="uk-card uk-card-default uk-border-rounded uk-background-center uk-background-contain uk-background-image@m" style="background-image: url(img/blockit/in-team-background-1.png);" data-uk-parallax="bgy: -100">
							<div class="uk-card-body">
								<div class="uk-grid uk-flex uk-flex-center">
									<div class="uk-width-3-4@m uk-text-center">
										<h2>Trust the Professionals</h2>
										<p>We are a group of passionate, independent thinkers who never stop exploring new ways to improve trading for the self-directed investor.</p>
									</div>
								</div>
								<div class="uk-grid uk-child-width-1-2@m uk-margin-medium-top" data-uk-grid="">
									<div class="uk-flex uk-flex-left uk-first-column">
										<div class="uk-margin-right">
											<img class="uk-align-center " src="{% static 'home/img/blockit/in-team-1.png' %}" alt="image-team" width="300">
										</div>
										<div>
											<p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Chief Executive Officer</p>
											<h4 class="uk-margin-small-top">Cynthia Dixon</h4>
											<p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid fugiat.</p>
											<div>
												<a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
												<a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
												<a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
											</div>
										</div>
									</div>
									<div class="uk-flex uk-flex-left">
										<div class="uk-margin-right">
											<img class="uk-align-center " src="{% static 'home/img/blockit/in-team-2.png' %}" alt="image-team" width="300">
										</div>
										<div>
											<p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Executive Assistant</p>
											<h4 class="uk-margin-small-top">Arthur Parker</h4>
											<p>Nostrum exercitationem ullam corporis suscipit labor samnisi ute aliquid fugiat.</p>
											<div>
												<a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
												<a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
												<a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
											</div>
										</div>
									</div>
									<div class="uk-flex uk-flex-left uk-grid-margin uk-first-column">
										<div class="uk-margin-right">
											<img class="uk-align-center " src="https://th.bing.com/th/id/OIP.jJBW_GFOtPY5WX_dMITEHQAAAA?pid=ImgDet&rs=1" alt="image-team" width="300">
										</div>
										<div>
											<p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Major Investor</p>
											<h4 class="uk-margin-small-top">Ma Huateng</h4>
											<p>Chairman And CEO,   Tencent  Holdings.</p>
											<div>
												<a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
												<a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
												<a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
											</div>
										</div>
									</div>
									<div class="uk-flex uk-flex-left uk-grid-margin">
										<div class="uk-margin-right">
											<img class="uk-align-center " src="https://assets-us-01.kc-usercontent.com/5cb25086-82d2-4c89-94f0-8450813a0fd3/53bd4d87-ccf5-445e-9463-e35e59c2a19f/elon_musk.jpg?fm=jpg&auto=format" alt="image-team" width="300">
										</div>
										<div>
											<p class="uk-text-small uk-text-muted uk-text-uppercase uk-margin-remove-bottom">Major Investor</p>
											<h4 class="uk-margin-small-top">Elon Musk</h4>
											<p>CEO, Tesla, SpaceX.</p>
											<div>
												<a class="uk-link-muted" href="#"><i class="fab fa-facebook-f uk-margin-small-right"></i></a>
												<a class="uk-link-muted" href="#"><i class="fab fa-twitter uk-margin-small-right"></i></a>
												<a class="uk-link-muted" href="#"><i class="fab fa-linkedin-in"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section content end -->
		<!-- section content begin -->
		<div class="uk-section">
			<div class="uk-container">
				<div class="uk-grid uk-flex uk-flex-center">
					<div class="uk-width-3-4@m">
						<div class="uk-grid uk-flex uk-flex-middle" data-uk-grid>
							<div class="uk-width-1-2@m">
								<h4 class="uk-text-muted in-offset-bottom-10">Number speaks</h4>
								<h1 class="uk-margin-medium-bottom">We always ready<br>for a challenge.</h1>
							</div>
							<div class="uk-width-1-2@m">
								<div class="uk-margin-large" data-uk-grid>
									<div class="uk-width-1-3@m">
										<h1 class="uk-text-primary uk-text-right@m">
											<span class="count" data-counter-end="213">0</span>
										</h1>
										<hr class="uk-divider-small uk-text-right@m">
									</div>
									<div class="uk-width-expand@m">
										<h3>Trading instruments</h3>
										<p>Reprehenderit qui in svoluptate velit esse quam molestiae vel illum qui dolorem fugiat quo.</p>
									</div>
								</div>
								<div class="uk-margin-large" data-uk-grid>
									<div class="uk-width-1-3@m">
										<h1 class="uk-text-primary uk-text-right@m">
											<span class="count" data-counter-end="32">0</span>
										</h1>
										<hr class="uk-divider-small uk-text-right@m">
									</div>
									<div class="uk-width-expand@m">
										<h3>Countries covered</h3>
										<p>At vero deleniti eto accusamus blanditiis praesentium voluta iusto dignissimos ducimus.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section content end -->
	</main>
	{% endblock %}