
{% extends 'base_layout.html' %}
{% load static %}

{% block title %}
Terms & conditions
{% endblock %}

{% block bodycontent%}
	<main>
		<!-- section content begin -->
		<div class="uk-section">
			<div class="uk-container">
				<div class="uk-grid">
					<div class="uk-width-1-1 uk-text-center uk-margin-medium-bottom">
						<h1>Company legal docs.</h1>
					</div>
					<div class="uk-grid-divider uk-child-width-1-3@m uk-child-width-1-2@s" data-uk-grid>
						<div>
							<div class="in-icon-wrap circle primary-color">
								<i class="fas fa-file fa-lg"></i>
							</div>
							<h3 class="uk-margin-top">Terms of Service</h3>
							<p>Read the Terms of Service and License Agreement for Blockit as well as our BlockitApp & Developer Agreements.</p>
						</div>
						<div>
							<div class="in-icon-wrap circle primary-color">
								<i class="fas fa-globe fa-lg"></i>
							</div>
							<h3 class="uk-margin-top">Policies</h3>
							<p>Find out more about what information we collect at Blockit, how we use it, and what control you have over your data.</p>
						</div>
						<div class="uk-visible@m">
							<div class="in-icon-wrap circle primary-color">
								<i class="fas fa-shield-alt fa-lg"></i>
							</div>
							<h3 class="uk-margin-top">Security</h3>
							<p>Learn more about how we keep your work and personal data safe when you’re using our services.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section content end -->

		<!-- section content begin -->
		<div class="uk-section">
			<div class="uk-container">
				<div class="uk-grid uk-flex uk-flex-center">
					<div class="uk-width-3-5@m">
						<h2 class="uk-margin-small-top uk-text-center">What legal documents do you need for a Bank?</h2>
						<ul class="in-faq-1 uk-margin-medium-top" data-uk-accordion>
							<li>
									<p>A bank will need a variety of legal documents that protect the business and the interests of the clients and customers who use the bank's services. The documents required to run a bank will vary based on specific circumstances and the state in which the bank is located.

										Here are some common legal documents that a bank may need:
										
										Charter or Articles of Incorporation : Many banks operate as corporations. Articles of incorporation are necessary business formation documents that define the business structure, ownership, and governance.
										Bylaws : Corporate bylaws are a set of rules that govern a corporation's day-to-day operations. This document includes the roles and responsibilities of directors, officers, and shareholders, when corporate meetings will be held, and how company stock is distributed.
										Banking License : A bank must obtain a banking license from the appropriate regulatory authorities to operate legally.
										Loan Agreement : One of a bank's primary functions is providing customers with loans. For this reason, loan agreements are necessary between the bank and the borrower. This legal contract outlines the terms and conditions of the loan, including interest rates, payment terms, and collateral requirements.
										Deposit Agreement : A deposit agreement is a legal contract that outlines the terms and conditions of the bank's relationship with its depositors. Information in a deposit agreement includes interest rates, account fees, and withdrawal policies.
										Privacy Policy : Most banks will collect sensitive information about their customers. A privacy policy informs clients how the bank collects, uses, and protects customer data.
										Trust Agreement : If the bank offers trust services, it will need an agreement that outlines the terms and conditions of the relationship between the bank and the trustor.
										Investment Management Agreement : Many banks offer investment management services. In this case, it is wise to have investment management agreements in place. These contracts will outline the terms and conditions of the bank and investor relationship.
										Employment Agreement : It is essential for a bank to have employees. The bank may execute an employment contract depending on the type of employee and the state laws governing employment contracts. These agreements will include information like job duties, compensation, benefits, and severance packages.
										It is important for the owners of a bank to consult with an experienced attorney when establishing the business. A financial lawyer will assist in determining which legal documents are necessary and ensure that the documents are drafted correctly and filed with the correct government agencies.</p>
									
								
							</li>						
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- section content end -->



		<!-- section content begin -->
		<div class="uk-section">
			<div class="uk-container">
				<div class="uk-grid uk-flex uk-flex-center">
					<div class="uk-width-3-5@m">
						<h5 class="uk-text-uppercase uk-text-primary uk-margin-remove-bottom uk-text-center">Frequent question</h5>
						<h2 class="uk-margin-small-top uk-text-center">Do you have any question</h2>
						<ul class="in-faq-1 uk-margin-medium-top" data-uk-accordion>
							<li>
								<a class="uk-accordion-title">How to contact with the team?</a>
								<div class="uk-accordion-content">
									<p>You can easily get in contact with us by using the contact us page <a href="contact.html"></a></p>
									<p>Your financial advisor will be willing to get all the answers you will be needing .</p>
								</div>
							</li>
							<li>
								<a class="uk-accordion-title">Login failed, how to fix this issue?</a>
								<div class="uk-accordion-content">
									<p>Unfortunately, we do not allow forgotten password recovery for security purposes</p>
									<p>However, can your financial advisor and the problem will be sorted out when details required are provided</p>
								</div>
							</li>
							<li>
								<a class="uk-accordion-title">Website response taking time, how to improve?</a>
								<div class="uk-accordion-content">
									<p>Whenever you experience a slow responses, we advice to check again later as the volume of customers may be too much. Remember to use a reliable internet connection next time</p>
							</li>
							<li>
								<a class="uk-accordion-title">New update fixed all bug and issues</a>
								<div class="uk-accordion-content">
									<p>We update our systems every month, for security purposes. We will notify you to avoid failed transaction that might not be recoverable </p>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<!-- section content end -->
	</main>
	{% endblock %}