{% extends 'base_layout.html' %}
{% load static %}

{% block title %}
Our partners we like you to know
{% endblock %}

{% block bodycontent%}
	<main>
		<!-- section content begin -->
		<div class="uk-section">
			<div class="uk-container">
				<div class="uk-grid uk-flex uk-flex-center">
					<div class="uk-width-3-4@m">
						<p class="uk-text-large">We're a team of mission-driven experts and learners who are committed to making security a strength for every startup.</p>
						<p>We've already helped hundreds of innovative companies succeed at becoming trustworthy custodians of sensitive data. And we're just getting started.</p>
						<div class="uk-grid-divider uk-child-width-1-1 uk-child-width-1-3@m uk-margin-medium-top uk-margin-bottom" data-uk-grid>
							<div>
								<h3>Our opportunity</h3>
								<p>INSTANT Navy Federal Credit Union Personal Loan.</p>
								<a class="uk-button uk-button-text uk-text-primary" href="https://www.youtube.com/watch?embeds_referring_euri=https%3A%2F%2Fwww.bing.com%2F&embeds_referring_origin=https%3A%2F%2Fwww.bing.com&source_ve_path=Mjg2NjQsMTY0NTAz&feature=emb_share&v=AVHuAbBxcB0">Watch the video</a>
							</div>
							<div>
								<h3>Our team</h3>
								<p>A source of motivation and inspiration As team members start to work together, they’ll see how it boosts productivity.</p>
								<a class="uk-button uk-button-text uk-text-primary" href="about.html">Meet the team</a>
							</div>
							<div>
								<h3>Our culture</h3>
								<p>Banks have made progress in addressing the conduct misdemeanours that were exposed by the financial crisis and its aftermath. Many have put in place frameworks, structures and measurement tools to manage conduct. But the journey is far from complete.</p>
								<a class="uk-button uk-button-text uk-text-primary" href="https://www.oliverwyman.com/our-expertise/insights/2019/feb/banking-conduct-and-culture.html">See our values</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- section content end -->
		<!-- section content begin -->
		<div class="uk-section in-content-3 in-offset-top-30 in-offset-bottom-20">
			<div class="uk-container">
				<div class="uk-grid uk-flex uk-flex-center">
					<div class="uk-width-1-1">
						<h2 class="uk-text-center">Partners</h2>
						<table class="uk-table uk-table-middle uk-table-divider uk-table-responsive">
							<tbody>
								<tr>
									<td>
										<h4>Quontic Bank</h4>
									</td>
									<td>
										<i class="fas fa-map-marker-alt fa-lg uk-margin-small-right"></i> Stockholm, Sweden
									</td>
									<td class="uk-text-left uk-text-right@m">
										<a class="uk-button uk-button-primary uk-border-rounded" href="https://www.quontic.com/?utm_medium=affiliate&utm_source=rakuten&utm_content=17&utm_term=Forbes&siteId=4e4NFxuugkU-gWu4pyvrJOi3u9t8d6pxaw&ranMID=47045&ranEAID=4e4NFxuugkU&ranSiteID=4e4NFxuugkU-gWu4pyvrJOi3u9t8d6pxaw&LSNSUBSITE=Omitted_4e4NFxuugkU">Know more<i class="fas fa-file-alt uk-margin-small-left"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<h4>Discover</h4>
									</td>
									<td>
										<i class="fas fa-map-marker-alt fa-lg uk-margin-small-right"></i> London, United Kingdom
									</td>
									<td class="uk-text-left uk-text-right@m">
										<a class="uk-button uk-button-primary uk-border-rounded" href="https://www.forbes.com/advisor/banking/discover-bank-review/">Know more <i class="fas fa-file-alt uk-margin-small-left"></i></a>
									</td>
								</tr>
								<tr>
									<td>
										<h4>Master Card</h4>
									</td>
									<td>
										<i class="fas fa-map-marker-alt fa-lg uk-margin-small-right"></i> United State
									</td>
									<td class="uk-text-left uk-text-right@m">
										<a class="uk-button uk-button-primary uk-border-rounded" href="https://www.mastercard.us/en-us.html">Know more <i class="fas fa-file-alt uk-margin-small-left"></i></a>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		<!-- section content end -->
		<!-- section content begin -->
		<div class="uk-section in-gallery-1">
			<div class="uk-container">
				<ul class="uk-grid-small uk-child-width-1-3@m uk-child-width-1-2@s uk-text-center" data-uk-grid="masonry: true">
					<li>
						<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
							<img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'home/img/blockit/in-gallery-image-1.jpg' %}" alt="gallery-image" data-width data-height>
						</div>
					</li>
					<li>
						<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
							<img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'home/img/blockit/in-gallery-image-2.jpg' %}" alt="gallery-image" data-width data-height>
						</div>
					</li>
					<li>
						<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
							<img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'home/img/blockit/in-gallery-image-3.jpg' %}" alt="gallery-image" data-width data-height>
						</div>
					</li>
					<li>
						<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
							<img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'home/img/blockit/in-gallery-image-4.jpg' %}" alt="gallery-image" data-width data-height>
						</div>
					</li>
					<li>
						<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
							<img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'home/img/blockit/in-gallery-image-5.jpg' %}" alt="gallery-image" data-width data-height>
						</div>
					</li>
					<li>
						<div class="uk-inline-clip uk-transition-toggle" tabindex="0">
							<img class="uk-transition-scale-up uk-transition-opaque" src="{% static 'home/img/blockit/in-gallery-image-6.jpg' %}" alt="gallery-image" data-width data-height>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<!-- section content end -->
	</main>
	{% endblock %}